<div class="row align-content-center">
  <div class="column">
    <app-destination></app-destination>
  </div>
  <div class="column">
    <app-destination></app-destination>
  </div>
  <div class="column">
    <app-destination></app-destination>
  </div>
  <div class="column">
    <app-destination></app-destination>
  </div>
  <div class="column">
    <app-destination></app-destination>
  </div>
  <div class="column">
    <app-destination></app-destination>
  </div>
  <div class="column">
    <app-destination></app-destination>
  </div>
</div>
