<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Destination</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Destination</label>
        <input type="text"
               id="title"
               class="form-control"
               maxlength="20" size="20"
               placeholder="max 20 character"
               #nameInput>
        <label for="note">Note</label>
        <input type="text"
               id="note"
               class="form-control"
               maxlength="50" size="50"
               placeholder="max 50 character"
               #noteInput>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<div class="new-destination row justify-content-center">
<button type="button" class="btn btn-lg btn btn-warning" (click)="open(content)">Add New Destination</button>
</div>
<br>
<hr>

<!--<pre>{{closeResult}}</pre>-->

